
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
h1{
	color: #000;
}

svg {
	display: flex;
	flex-direction: row;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 27228.115234375;
	stroke-dashoffset: 27228.115234375;
	transition: 10s all;
}

svg:hover .path {
	stroke-dashoffset: 0;
}

#circle {
	fill: none;
	stroke-width: 4px;
	stroke: #000;
	stroke-dasharray: 753.5776977539062;
	stroke-dashoffset: 753.5776977539062;
	animation: circle-outline 4s forwards;
	opacity: 0;
}

.text {
	fill: none;
	stroke-width: 1.5px;
	stroke: #000;
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
	animation: circle-outline 4s forwards;
	opacity: 0;
}

@keyframes circle-outline {
	from {
		stroke-dashoffset: 753.5776977539062;
		opacity: 0;
	}
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
	
}

@keyframes text-outline {
	from {
		stroke-dashoffset: 200;
		opacity: 0;
	}
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
	
}